---
import '../styles/global.css';
import { GoogleTagmanager, GoogleTagmanagerNoscript } from '@digi4care/astro-google-tagmanager';
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Ahli Web Murah - Website UMKM Professional Hanya 200 ribu rupiah , Iklan Google Ads, Meta Ads Social Media Management" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
      <GoogleTagmanager id="GTM-579NCP5G" domain="https://googletagmanager.com" container="gtm.js" />
  </head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen bg-white">
    <GoogleTagmanagerNoscript id="GTM-579NCP5G" domain="https://googletagmanager.com" />
    <slot />
  </body>
</html>
